################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.android
/.bash_history
/.cache
/.config
/.dotnet
/.eclipse
/.emulator_console_auth_token
/.gitconfig
/.gnupg
/.gradle
/.ipython
/.jdks
/.lesshst
/.librarymanager
/.m2
/.nuget
/.p2
/.runelite
/.ssh
/.VirtualBox
/.vscode
/.wyliodrinstudio
/3D Objects
/AMDRM_Install.log
/AndroidStudioProjects
/AppData
/aspnet-WebApplication10-d82ce601-1b2d-47e1-913b-a643f25cb027.mdf
/aspnet-WebApplication10-d82ce601-1b2d-47e1-913b-a643f25cb027_log.ldf
/Contacts
/Documents
/Downloads
/eclipse
/eclipse-workspace
/Favorites
/Flutter_Projects
/Links
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{24e8634c-cdbc-11ed-8770-10b1dfaa7b1a}.TM.blf
/NTUSER.DAT{24e8634c-cdbc-11ed-8770-10b1dfaa7b1a}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{24e8634c-cdbc-11ed-8770-10b1dfaa7b1a}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/quran.py
/Saved Games
/Searches
/source
/Videos
/WyliodrinSTUDIO
